<div class="right solo">
  <h3>Accomodations</h3>
  <div class="nav">
    <%= link_to 'Home', root_path %>
  </div>
  
  <h4 class="sub">The Mark Spencer Hotel</h4>
  <p class="note">We have chosen the <%= link_to 'Mark Spencer Hotel', 'http://www.mark-spencer-hotel.com/hotels/info/id/132429/s/5' %> as the official hotel of our wedding. They offer an incredible wedding discount rate for their rooms if you book any time up to <strong>30 days before the wedding</strong>. That means you will recieve <strong>20% off your room rate</strong> for our wedding if you book <strong>before September 7th!</strong></p>
  
  <h4 class="sub">Reservation Information</h4>
  <p class="note">You may either call the Mark Spencer Hotel directly at 1-800-548-3932 and ask for the Ward/Heller party discount or book online at <%= link_to 'http://www.markspencer.com', 'http://www.markspencer.com' %>. Click on Group Login to book a room.</p>
  
  <ul class="login-info">
    <li>Group Login Name: WEDDING</li>
    <li>Group Login Password: WEDD</li>
  </ul>
</div>