<div class="right pics">
  <h3>Pics</h3>

  <img src="/images/photos-frontpage.png" alt="Photo of Brad and Melissa under an umbrella." />

  <h4><%= link_to 'ENGAGEMENT', photos_path %></h4>
  <p class="note">See some of our favorites!</p>
  
  <h4>Photography by Carolino Photo</h4>
</div>

<div class="right blog">
  <h3>Blog</h3>
  
  <p class="note">What are we up to? How are the plans coming along?</p>
  
  <a href="http://twitter.com/wardmel"><img src="/images/mel-twitter.png" alt="A picture of Mel's face." border="0" target="_blank" /></a>
  <a href="http://twitter.com/bradhe"><img src="/images/brad-twitter.png" alt="A picture of Brad's face." border="0" target="_blank" /></a>
</div>

<div class="right portland">
  <h3>Portland</h3>
  
  <p class="note">See our favorite</p>
  <ul class="portland-highlights">
    <li>Restaurants</li>
    <li>Sights to see</li>
    <li>Beers to try</li>
  </ul>
  
  <img src="/images/union-station.png" alt="Impression of the Union Station tower." class="union-station" />
</div>

<% content_for :javascript do %>

<% end %>
