<div class="right solo">
  <h3>RSVP - Comming Soon</h3>
  <div class="nav">
    <%= link_to 'Home', root_url %>
  </div>
  
  <h4 class="sub">We haven't set an RSVP date yet!</h4>
  
  <p class="note">But if you <%= link_to 'sign up for our newsletter', newsletter_index_path %> we will let you know when we have it set!</p>
</div>