<div class="right solo">
  <h3>Important Dates</h3>
  
  <div class="nav">
    <%= link_to 'Home', root_path %>
  </div>
  
  <ul>
    <li>RSVP - <strong>TBD</strong></li>
    <li>Book at Mark Spencer - <strong>September 5</strong></li>
    <li>Wedding Day - <strong>October 8</strong></li>
  </ul>
</div>
