<div class="right solo">
  <h3>Photos - Comming Soon</h3>
  
  <div class="nav">
    <%= link_to 'Home', root_url %>
  </div>
  
  <h4 class="sub">We're working to get photos up!</h4>
  <p class="note">We're working with Carolino Photography to get our engagement photos put in an accessible place on the internet, likely flickr. Stay tuned!</p>
</div>