<!DOCTYPE html>
<html>
<head>
  <title>Brelissa</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <%= csrf_meta_tag %>
  <%= yield :javascript %>
</head>
<body>

<%= yield %>

</body>
</html>
